
.flex-container{
    display: flex;
    flex-direction: row;
}
.container1{
    width: 60%;
    padding: 15px;
}
.container2{
    width: 40%;
    padding: 15px;
}
.container3{
    width: 25%;
    padding: 15px;
}
@media only screen and (max-width: 500px) {
    .flex-container > div {
        width: 100%;
    }
    .flex-container{
        display: flex;
        flex-direction: column;
    }

}