.container1{
    background-color: white;
    width: 50%;
    height: 300px;
}

.container2{
    background-color: red;
    width: 75%;
    height: 200px;
}
.container3{
    background-color: yellow;
    width: 50%;
    height: 100px;
}

body{
    background-color: gray;
    text-align: center  ;
}

*{
    padding: 5px;
}