body{
    color:white;
        font-family: Verdana, Geneva, Tahoma, sans-serif}
    
ol{
    background-color: #ff6a00;
}
ul{
    background-color: #000045;
}

li{
    margin: 0;
    padding: 3px;
}

.logo{
    width: 400px;
}

.container{
    padding: 20px;
    width: 400px;
}